<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hackathon.perseus.app"
    android:versionCode="1"
    android:versionName="1.0" >

   	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="edu.hackathon.perseus.app.MainService"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true" >
        </service>
        
        <activity
            android:name="edu.hackathon.perseus.app.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="edu.hackathon.perseus.app.AboutActivity"
            android:label="@string/app_name" >
        </activity>
		
		<!--         
        <receiver android:name="boun.edu.android.wlandelayanalyser.MainService$NetworkStateChangeReceiver"
		    android:enabled="true" android:label="NetworkStateChangeReceiver">
		    <intent-filter>
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		        <action android:name="android.net.wifi.STATE_CHANGE"/>
		    </intent-filter>
		</receiver>
		 -->
    </application>

</manifest>
