html
    head
        title Billboard
        style
            |#billboard{ height: 480px; }
            |#qr{ position: relative; width: 200px; height: 200px; right: 200px; }
    body
        #ad
            img#billboard(src=billboard)
            img#qr(src=qr)