html
    head
        title Billboard
        style
            |#billboard{ width: 640px; height: 480px; }
            |#qr{ position: relative; width: 150px; height:150px; right: 150px; }
    body
        #ad
            img#billboard(src=billboard)
            img#qr(src=qr)